$sectionsGap: 35px;

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $sectionsGap 20px;

  gap: $sectionsGap;
}

.paragraphs {
  max-width: 746px;
  text-align: center;

  p {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image {
  width: 634px;
  height: 408px;

  position: relative;

  @media (max-width: 680px) {
    width: 90vw;
    height: 57.6vw;
  }
}

.twoBlocksSection {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  gap: 20px;

  &__image {
    flex: 0 0 45%;
    position: relative;
    height: 300px;
  }

  &__content {
    flex: 0 0 45%;
    padding: 15px 0;

    p {
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    &__image {
      flex: 1 1 auto;
      width: 450px;
      height: 270px;
      text-align: center;

      @media (max-width: 490px) {
        width: 320px;
        height: 200px;
      }

      @media (max-width: 360px) {
        width: 280px;
        height: 160px;
      }
    }
  }
}

.contactUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}