.footer {
	padding: 15px 20px;
	border-top: 3px solid $accentColorFrst;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;

		@media (max-width: 410px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

.socialLinks {
	display: flex;
	align-items: center;
	gap: 10px;

	&__link {
		svg {
			width: 30px;
			height: 30px;
		}
	}
}